extends templates/templates.pug

append config
	-pageTitle = 'Portafolio'
	-description = 'Conoce sobre la empresa'
	-currentPage='portafolio'

block main
	h1 Bienvenidos
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam accusamus modi dolore facere consequuntur ex explicabo magni voluptatum itaque error tempore sed est temporibus repellat, rem officiis, molestias vel deserunt.

block footer
	p Creativos ABC - Derechos reservados